{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'montparnasse_bar:order' beers_id%}" method="post">
{% csrf_token %}
    <label>Beer List</label><br />
       <select>
           {% for beer in beers %}
               <option value="{{beer.id}}">{{beer.name}}</option>
            {% endfor %}
        </select>
<input type="submit" value="Order">
</form>