{% extends 'base.html' %}

{% block content %}
<form action="{% url 'montparnasse_bar:bar_modify' %}" method="post">
{% csrf_token %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Étage</th>
        {% if request.user.is_staff %}
            <th>Delete</th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for bar in bars %}
        <tr>
            <td>{{ bar.id }}</td>
            {% if request.user.is_staff %}
              <td><input type="text" name="name" value={{ bar.name }}>
                  <input type="hidden" name="id" value={{ bar.id }}>
              </td>
          {% else %}
              <td>{{ bar.name }}</td>
          {% endif %}
          {% if request.user.is_staff %}
                <td><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ bar.id }}"></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if request.user.is_staff %}
        <button type="submit" name="modify">Modify</button>
        <button type="submit" name="delete">Delete</button>
    {% endif %}
</form>
{% if bars.has_other_pages %}
  <ul class="pagination">
    {% if bars.has_previous %}
      <li><a href="?page={{ bars.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in bars.paginator.page_range %}
      {% if bars.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if bars.has_next %}
      <li><a href="?page={{ bars.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% if request.user.is_staff %}
    <form action="{% url 'montparnasse_bar:bar_modify' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" name="add">Add</button>
    </form>
{% endif %}
{% endblock %}