{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Ref</th>
      <th>Name</th>
      <th>Description</th>
      <th>Availibility</th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
      <tr>
        <td>{{ result.ref }}</td>
        <td>{{ result.name }}</td>
        <td>{{ result.description }}</td>
        <td>{{ result.availibility }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if results.has_other_pages %}
  <ul class="pagination">
    {% if results.has_previous %}
      <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in results.paginator.page_range %}
      {% if results.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if results.has_next %}
      <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
