{% extends 'base.html' %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Bars</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>all_stocks</td>
        <td>Liste des comptoirs qui ont toutes les références en stock</td>
        <td>{{all|join:", "}}</td>
      </tr>
      <tr>
        <td>miss_at_least_one</td>
        <td>Liste des comptoirs qui ont au moins une référence épuisée</td>
        <td>{{miss|join:", "}}</td>
      </tr>
  </tbody>
</table>
{% endblock %}