{% extends 'base.html' %}

{% block content %}
<form action="{% url 'montparnasse_bar:reference_modify' %}" method="post" class="form form-inline">
    {% csrf_token %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Ref</th>
          <th>Name</th>
          <th>Description</th>
          {% if request.user.is_staff %}
            <th>Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for reference in references %}
          <tr>
              {% if request.user.is_staff %}
                  <td><input type="text" name="reference" value={{ reference.ref }}></td>
                  <td><input type="text" name="name" value={{ reference.name }}></td>
                  <td><input type="text" name="description" value={{ reference.description }}>
                      <input type="hidden" name="id" value={{ reference.id }}>
                  </td>
              {% else %}
                  <td>{{ reference.ref }}</td>
                  <td>{{ reference.name }}</td>
                  <td>{{ reference.description }}</td>
              {% endif %}
            {% if request.user.is_staff %}
                <td><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ reference.id }}"></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if request.user.is_staff %}
        <button type="submit" name="modify">Modify</button>
        <button type="submit" name="delete">Delete</button>
    {% endif %}
</form>

{% if references.has_other_pages %}
  <ul class="pagination">
    {% if references.has_previous %}
      <li><a href="?page={{ references.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in references.paginator.page_range %}
      {% if references.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if references.has_next %}
      <li><a href="?page={{ references.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% if request.user.is_staff %}
    <form action="{% url 'montparnasse_bar:reference_modify' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" name="add">Add</button>
    </form>
{% endif %}
{% endblock %}